.posts {
  list-style-type: none;
}

.post {
  margin-bottom: 1.5rem;
}

.post h4 {
  font-size: 1.15rem;
  display: inline-block;
  margin-right: 0.85rem;
  margin-bottom: 0.85rem;
}

.post__date {
  display: inline;
  font-size: 0.85rem;
  color: #999;
}
